@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&display=swap');
@import "./login.scss";
@import "./signup.scss";
@import "../styles/Home/header.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-wrapper{
    margin: 0 auto;
    width: 1350px;
}


//tailwind

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';