// *{
//     margin: 0 auto;
//     padding: 0;
//     box-sizing: border-box;
// }

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 2rem;
  overflow-y: hidden;
  // width: 1440px;
  // height: 1024px;

  .right-side {
    margin: 12rem;
    padding: 2rem;
    h1 {
      font-family: "jost";
      font-style: bold;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #080808;
    }
    h5 {
      font-size: 14px;
      padding: 3px 0 18px 0;
    }
    .input-wrapper label {
      padding: 0 0 5px;
      font-size: 12px;
    }

    .input{
      border-radius: 6px;
      border: 1px solid rgb(19, 17, 24);
      width: 308px;
      height: 1.8rem;
    }


    .forgot-pass {
      @include flex;
      justify-content: space-between; 
      padding-top: 20px;
      gap: 20px;
       .remember{
        width: 100%;
        display: grid;
        grid-template-columns: 22px max-content;
        gap: 8px;
        align-items: center;
        font-size: 12px; 
        input{
            width:22px;
        }
      .forgot h6{
       font-size: 14px;
      }
    }
    }
  }
}

// border-radius: 10px;
// border: 1px solid rgb(19, 17, 24);
// width: 320px;
// height: 32px;
