* {
    font-family: jost;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.signup-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 2rem;

    .right-side {
        margin: 12rem;
        padding: 2rem;

        h1 {
            font-family: "jost";
            font-style: bold;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #080808;
        }

        h5 {
            font-size: 14px;
            padding: 5px 0 18px 0;
        }

        .input-wrapper label {
            padding: 0 0 5px;
            font-size: 12px;
            font-weight: 500;
        }

        .input {
            border-radius: 6px;
            border: 1px solid rgb(19, 17, 24);
            width: 308px;
            height: 2rem;
        }

        .terms {
            display: flex;
            font-size: 16px;
            margin-top: 1rem;
            gap: 8px;
            margin-right: 34px;
            justify-content: space-between;
        }



    }
}