* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-wrapper {
            
        .banner-wrapper{
            display: flex; 
            justify-content: space-between; 
            align-items: center;
            background-color:#f2f0f1;
        }
        
    }
